@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background: #0b0d0f;
	--background-soft: #101316;
	--background-additional: #2e3133;
	--text: #fcfcfc;
	--text-soft: #b7bac1;
	--button: #20b2d2;
}

body {
	color: var(--text);
	/* background: var(--background); */
}

a {
	color: inherit;
	text-decoration: none;
}

td {
	@apply p-3 border border-backgroundAdd;
}

.button {
	@apply py-2 px-5 rounded bg-button;
}

tr:nth-child(2n) {
	@apply bg-black;
}

form input,
form select {
	@apply w-[45%];
}

form input,
form textarea,
form option,
form select,
#product-detailed input,
#product-detailed textarea,
#product-detailed select,
#product-detailed option,
#users-detailed input {
	@apply px-7 py-5 bg-backgroundSoft outline-none text-foreground mb-7 border border-backgroundAdd focus:border-cyan-300;
}

form textarea {
	@apply w-full;
}

#product-detailed input:not([type*='file']),
#product-detailed textarea,
#product-detailed select,
#product-detailed option,
#users-detailed input {
	@apply w-full block;
}
